* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
}

hr {
  opacity: .1 !important;
}

h5 {
  font-weight: bold;
  opacity: .8
}

button:focus {
  outline: none;
  border: none;
}

.centerme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-none {
  user-select: none;
}

.header {
  box-shadow: .1rem .1rem .8rem lightgrey;
  position: fixed;
  top: 0;
  z-index: 999;
}

.menubar {
  position: fixed;
  left: 0;
  z-index: 99;
  width: 100% !important;
}

.menubar-inner>a {
  text-decoration: none;
  color: grey;
}

.menubar-inner {
  background: whitesmoke !important;
  width: 100% !important;
}

.article-ol {
  line-height: 1.5rem;
}

.article-update {
  user-select: none;
}

.article-update,
.article-paragraph,
.article-ol {
  color: grey;
}

.article-paragraph {
  border-left: 2px whitesmoke solid;
  padding: 0 0 0 .5rem;
}

#codearea {
  width: 100%;
  height: 20rem;
  color: grey;
}

#codearea:focus {
  outline: none;
  border: none;
}

.blogmenubarAni {
  animation: ani2 .5s 1;
}

/*Animations;
*/

@keyframes ani2 {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.layout {
  width: 100%;
  margin: 1rem;
  border-radius: .5rem;
}



/* for pc */
@media all and (min-width: 400px) {
  .layout {
    width: 40%;
  }

  .logo-img {
    margin-top: -10px;
    width: 100px !important;
  }

}

#textarea_Q {
  background: black;
  color: grey;
}

.layout>a>img:hover {
  border: 5px grey solid;
  border-radius: 1rem;
  transition: all .5s;
}

.s-toggle {
  position: fixed;
  bottom: 2rem;
  right: 2.2rem;
  z-index: 99999;
}

.s-toggle:hover {
  background: lightskyblue;
  transition: all .5s;
}

.s-toggle-icon {
  width: 40px;
  height: 40px;
  opacity: .8;
}

.glass {
  /* GlassMorphism */
  background:
    rgba(255, 255, 255, 0.20);
  box-shadow:
    0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter:
    blur(1.5px);
  -webkit-backdrop-filter:
    blur(1.5px);
  border-radius:
    10px;
  border:
    1px solid rgba(255, 255, 255, 0.18);
  /* GlassMorphism */
}

.s-box {
  position: fixed;
  bottom: 5rem;
  left: 2rem;
  width: 300px;
  height: 400px;
  opacity: .9;
}

.s-box-design {
  opacity: .9;
  width: 3.5rem;
  height: 4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  bottom: -3.5rem;
  right: 0rem;
}