    /* MQ of cic.html */
    /*@media screen and (min-width:400px) {
      body {}

      .logo-img {
        width: 100px !important;
      }

      .scrollbar {
        width: 100%;
      }

      .search-box {
        width: 300px;
        height: 3rem;
        position: fixed;
        top: .3rem;
        left: 1rem;
      }

      li {
        text-align: left;
      }
    }*/